pipeline/pipeline_silver_dynamic.json
{
	"name": "pipeline_silver_dynamic",
	"properties": {
		"activities": [
			{
				"name": "ForEachItemInSilver",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vDynamicArrayFileSPName')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "DeleteDynamicFromSIlver",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:11:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_silver_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"pFolderPathSilver": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "SPDynamicSilver",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteDynamicFromSIlver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"vDynamicArrayFileSPName": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/taxi_zone",
						"sp_name": "silver.sp_silver_create_taxi_zone"
					},
					{
						"folder_path": "silver/calendar",
						"sp_name": "silver.sp_silver_create_calendar"
					}
				]
			}
		},
		"annotations": []
	}
}